.navbarVertical {
  display: flex;
  flex-direction: column;
  width: 98px;
  height: 82vh;
  background-color: white;
  border-radius: 10px;
  margin-left: 1vw;
  justify-content: space-around;
  align-self: center;
}
.navbarVertical a {
  text-decoration: none;
}
.navbtn {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 10px;
  gap: 10px;
}
.navbtn svg {
  width: 30px;
  height: 30px;
}
body {
  background-color: #2c3333;
}
